In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from torch.utils.data import DataLoader
import random
from sklearn.preprocessing import StandardScaler
import os
import time

In [2]:
target_width = 8

In [3]:
data_df = pd.read_excel('input_1.xlsx', index_col='report_date')

In [4]:
data_df

,EAEZAIN9501_to_EAEZAIN9501EZ3,EAEZAIN9501_to_NAEZAIN9501,EAEZAIN9501_to_NAEZAIN9501EZ,EAEZAIN9501_to_NAEZAIN9501EZ2,EAEZAIN9501_to_NAEZAIN9501EZ3,EAEZAIN9501_to_NAEZAIN9501EZ4,EAEZAIN9501_to_NAEZAIN9502,EAEZAIN9501EZ3_to_EAEZAIN9501,EAEZAIN9501EZ3_to_NAEZAIN9501,EAEZAIN9501EZ3_to_NAEZAIN9501EZ,...,NAEZAIN9502_to_NAEZAIN9501EZ3.1,NAEZAIN9502_to_NAEZAIN9501EZ4.1,inventory_EAEZAIN9501.1,inventory_EAEZAIN9501EZ3.1,inventory_NAEZAIN9501.1,inventory_NAEZAIN9501EZ.1,inventory_NAEZAIN9501EZ2.1,inventory_NAEZAIN9501EZ3.1,inventory_NAEZAIN9501EZ4.1,inventory_NAEZAIN9502.1
report_date,,,,,,,,,,,,,,,,,,,,,
2024-06-10,3,0,0,1,0,1,0,0,0,0,...,0,0,0,0,2380,0,0,0,2,0
2024-06-11,0,0,0,0,0,5,0,0,0,0,...,0,0,0,0,2169,0,0,1,2,0
2024-06-12,2,0,0,0,12,12,0,0,0,0,...,0,0,0,0,2712,0,0,2,2,0
2024-06-13,0,0,0,0,21,16,0,0,0,0,...,0,0,0,0,2707,0,0,0,1,0
2024-06-14,0,0,0,0,22,21,0,0,0,0,...,0,0,0,0,3401,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-11,0,0,0,0,0,0,0,9,0,0,...,0,0,0,0,2942,1,0,1,0,28
2024-11-12,0,0,0,0,0,0,0,5,0,0,...,0,0,0,0,2754,1,0,1,0,21
2024-11-13,0,0,5,2,13,0,0,0,0,0,...,0,0,0,0,2618,1,0,1,0,15
2024-11-14,0,0,6,3,13,71,5,0,0,0,...,0,0,0,1,2470,0,0,1,0,14
2024-11-15,0,0,5,3,14,69,13,0,0,0,...,0,0,0,1,2349,0,0,0,0,12

In [5]:
#提取target数据
time_range = pd.DatetimeIndex(data_df.index)
series_dict_target = {}
#series_dict[0] = data_df['value']
i = 0
for col in data_df.columns:
    if i < ((target_width - 1) * target_width):
        series_dict_target[i] = data_df[col]
    i += 1
    if i > 64: break
target_df = pd.DataFrame(index = time_range,data=series_dict_target)

In [6]:
refining = []
refined = []

In [7]:
column_names = np.array(data_df.columns[:target_width * (target_width - 1)])

In [8]:
for i in range(target_width * (target_width - 1)):
    if(column_names[i].split('_')[0] not in refining):
        refining.append(column_names[i].split('_')[0])
    refined.append(column_names[i].split('_')[2])

In [9]:
refining

['EAEZAIN9501',
 'EAEZAIN9501EZ3',
 'NAEZAIN9501',
 'NAEZAIN9501EZ',
 'NAEZAIN9501EZ2',
 'NAEZAIN9501EZ3',
 'NAEZAIN9501EZ4',
 'NAEZAIN9502']

In [11]:
refined

['EAEZAIN9501EZ3',
 'NAEZAIN9501',
 'NAEZAIN9501EZ',
 'NAEZAIN9501EZ2',
 'NAEZAIN9501EZ3',
 'NAEZAIN9501EZ4',
 'NAEZAIN9502',
 'EAEZAIN9501',
 'NAEZAIN9501',
 'NAEZAIN9501EZ',
 'NAEZAIN9501EZ2',
 'NAEZAIN9501EZ3',
 'NAEZAIN9501EZ4',
 'NAEZAIN9502',
 'EAEZAIN9501',
 'EAEZAIN9501EZ3',
 'NAEZAIN9501EZ',
 'NAEZAIN9501EZ2',
 'NAEZAIN9501EZ3',
 'NAEZAIN9501EZ4',
 'NAEZAIN9502',
 'EAEZAIN9501',
 'EAEZAIN9501EZ3',
 'NAEZAIN9501',
 'NAEZAIN9501EZ2',
 'NAEZAIN9501EZ3',
 'NAEZAIN9501EZ4',
 'NAEZAIN9502',
 'EAEZAIN9501',
 'EAEZAIN9501EZ3',
 'NAEZAIN9501',
 'NAEZAIN9501EZ',
 'NAEZAIN9501EZ3',
 'NAEZAIN9501EZ4',
 'NAEZAIN9502',
 'EAEZAIN9501',
 'EAEZAIN9501EZ3',
 'NAEZAIN9501',
 'NAEZAIN9501EZ',
 'NAEZAIN9501EZ2',
 'NAEZAIN9501EZ4',
 'NAEZAIN9502',
 'EAEZAIN9501',
 'EAEZAIN9501EZ3',
 'NAEZAIN9501',
 'NAEZAIN9501EZ',
 'NAEZAIN9501EZ2',
 'NAEZAIN9501EZ3',
 'NAEZAIN9502',
 'EAEZAIN9501',
 'EAEZAIN9501EZ3',
 'NAEZAIN9501',
 'NAEZAIN9501EZ',
 'NAEZAIN9501EZ2',
 'NAEZAIN9501EZ3',
 'NAEZAIN9501EZ4']

In [3]:
s=0
for x,y in[(1,1)(2,4)(3,9)]:
    s=x+y
print(s)

<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
C:\Users\29475\AppData\Local\Temp\ipykernel_8328\3164457099.py:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  for x,y in[(1,1)(2,4)(3,9)]:

TypeError: 'tuple' object is not callable